<div class="fixed-width">
  <h2>Mis Negociaciones</h2>
  <% if (!negotiationsList.length) { %>
    <p>No tienes ninguna negociación aún.</p>
  <% } else { %>
    <br>
    <table class="form">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Estado</th>
          <th>Ver</th>
        </tr>
      </thead>
      <tbody>
        <% negotiationsList.forEach((negotiation) => { %>
          <tr>
            <% if(negotiation.customerId != currentUser.id){ %>
              <td><%= negotiation.customer.username %></td>
            <% } else {%>
              <td><%= negotiation.seller.username %></td>
            <% } %>
            <td><%= negotiation.state %></td>
            <td><a href="<%= showNegotiationPath(negotiation) %>">Ver Detalles</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</div>
