ul > li {
  display: inline-block;
}

form > div {
  padding-bottom: 15px;
}

#container-search-item-1 {
  display: inline-block;
  max-height: 315px;
}

#container-search-item-1 > h2 {
  padding: 0px;
  text-align: center;
}

.item-topic {
  padding: 10px;
}

.input-search {
  border-radius: 5px;
  width: 65%;
}

.option-width-search {
  width: 200px;
}

#container-search-item-2 {
  display: inline-block;
}

.pagination {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.group {
  cursor: pointer;
  display:block;
  width: 610px;
  vertical-align:top;
  margin:0px;
  text-align:center;
  padding:5px;
  margin: auto;
}

.group-item-text {
  padding: 0px;
  margin: 0px;
}

.group-item {
  width: 600px;
  height: 150px;
  border-radius: 15px;
  background-color: white;
}

.group-item:hover {
    opacity: 0.6;
}
.group-footer {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: black;
}

.group span {
  padding: 5px;
  font-weight: 501;
}

.group img {
  vertical-align: top;
}

.group h3 {
  padding-top: 7%;
  padding-bottom: 20px
}
