.center {
    text-align: center;
}

.horizontal-center {
  margin: 15px auto;
}

.search-container {
  margin: 0 auto;
  text-align: center;
}

.search-container input{
  padding: 6px;
  margin-top: 5px;
  font-size: 17px;
  max-width: 400px;
  height: 50px;
  background-color: #232b2b;
  color: white;
  border: none;
}

.search-container .btn {
  height: 50px;
  width: 75px;
}


.welcome-text {
   margin: 0 auto;
   font-size: 23px;
   color: rgb(34, 34, 34);
   opacity: 0.7;
   text-align: center;
}

.landing-title {
  font-size: 50px;
}

#x {
  color: red;
}

.border{

    border: solid;
}

// Carrusel
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 500px;
  height: 300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
  width: 100%;
}

.mySlides img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  display: none;
  color: black;
  font-size: 18px;
  padding: 10px 12px;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.description {
  text-align: center;
  font-size: 13px;
  width: 20%;
  margin-left: 40%;
}

/* Number text (1/3 etc) */
.numbertext {
  opacity: 0.3;
  color: #f2f2f2;
  background-color: #181818;
  border-radius: 10px;
  font-size: 12px;
  padding: 12px 12px;
  position: absolute;
  top: 0;
  transition: opacity 0.6s linear;
}

.numbertext:hover {
  opacity: 1;
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade:hover{
  background: none;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.sidenav {
  margin-left: 10px;
  position: fixed;
  height: 100%;
  background-color: inherit;
  overflow-y: scroll;
  border-right: 1px solid black;
}

.side-title {
  margin: 0;
  padding: 10px 0px;
  top: 0;
  background-color: inherit;
  position: sticky;
  font-size: 25px;
  text-align: center;
  display: block;
  border-bottom: solid 1px black;
}

.side-title:hover {
  background-color: inherit;
  border-radius: 0px;
}

.side-category {
  display: block;
  padding: 7px 15px;
}

.side-category:hover {
  background-color: #CD5C5C;
  border-radius: 0px;
  color: white;
}

table.top-users {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  text-align: right;
  td {
    width:1px;
    white-space:nowrap;
    word-wrap: break-word;
  }
  .ratings {
      width: auto;
      float: right;
  }
  .real-rating {
    display: inline-block;
    color: white;
    border-radius: 2px;
    font-size: 15px;
    padding: 3px;
  }
  .good {
    background-color: green;
  }
  .enough {
    background-color: #FCE205;
  }
  .bad {
    background-color: red;
  }
  .xchanges {
    background-color: #CD5C5C;
    width: 24px;
    text-align: center;
    color: white;
    padding: 4px;
    border-radius: 4px;
  }
}
