.samePassword {
  background-color: greenyellow;
}

.diffPassword {
  background-color: #EE3D3D;
}

.show-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.show-info {
  display: inline-block;
  width: 75%;
}

.show-btn {
  display: inline-block;
  text-align: right;
}

.show-title {
  margin: 15px auto;
}

#image_profile img{
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#image_profile h3{
  display: inline-block;
  padding-right: 20px;
  margin-left: 15%;
}

#image_profile form{
  text-align: center;
  display: inline-block;
}

.opinions-reviews {
  color: #212121;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px;
}

.relevants {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.opinions-users {
  font-size: 25px;
  font-style: italic;
  font-weight: 1;
  margin-top: 10px;
  padding-left: 10px;
  color: #333;
  margin-bottom: 0px;
}

.review-container {
  width: 100%;
  padding: 10px;
}

.review-container > #profile-pic {
  display: inline-block;
  vertical-align: top;
  width: 12%;
}

#profile-pic img {
  width: 100%;
}

.review-content {
  display: inline-block;
  padding-left: 10px;
  padding-top: 0px;
  width: 85%;
}

.review-content > h3 {
  padding-top: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.review-time {
  color: #aaa;
  font-size: 17px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 7px;
  font-family: "Roboto",Arial,sans-serif;
}
