<div class="flex-container border">
    <div>
        <div class="flexbox-item">
            Image
        </div>
        <div>
            <%= currentUser.username %>
        </div>
        <div>
            <%= currentUser.region %>
        </div>
        <div>
            Amount of X-Changes
        </div>
        <div>
            Average review
        </div>
    </div>
</div>
<div class="flex-container border">
    Hola
</div>