<div class="fixed-width">
    <a href="<%= profile(currentUser) %>">Volver</a>
    <div class="flexbox-item center">
        Imagen
    </div>
    <h1 class="center"><%= reviewer.username %></h1>
    <div class="form">
        Información sobre <%= reviewer.username %>
        <br>
        <br>
        <div>
            <div>
                Región: <%= reviewer.region %>
            </div>
            <div>
                Cantidad de X-Changes: 0
            </div>
            <div>
                Promedio de Reseñas
            </div>
        </div>
    </div>

</div>