<div class="flexbox-item">
    <a href="<%= profile(currentUser) %>">Volver</a>
</div>
<div class="flex-container border">
    <div>
        <div class="flexbox-item">
            Imagen
        </div>
        <div>
            <%= reviewer.username %>
        </div>
        <div>
            <%= reviewer.region %>
        </div>
        <div>
            Cantidad de X-Changes
        </div>
        <div>
            Promedio de Reseñas
        </div>
    </div>
</div>