<h2> Exchange </h2>
<% if (!exchangeList.length) { %>
  <p>No results</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>objectId</th>
        <th>negotiationId</th>
      </tr>
    </thead>
    <tbody>
      <% exchangeList.forEach((exchange) => { %>
        <tr>
          <td><%= exchange.objectId %></td>
          <td><%= exchange.objectId %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
