<p> Hola <%= user.username %>! </p>
<p> Estamos felices de recibirte y esperamos que puedas aprovechar al máximo
  todo lo que nuestra aplicación ofrece. ¡Feliz intercambio! </p>
<p> El equipo de X-Change. </p>
