.btn{
    border: solid 1px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 5px gray;
    height: 30px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(242, 242, 242);
}