html, body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-title {
  width: 100%;
  margin-bottom: 10px;
}

.flexbox-item{
  color: black;
  display: flex;
  font-weight: bolder;
}

#title{
  color: black;
  display: flex;
  font-weight: bolder;
  flex-direction: column;
}

#header{
  margin-bottom: 0;
  position: sticky;
  top: 0;
  background-color: rgb(242, 242, 242);
  border-bottom: 2px solid black;
  z-index: 9999999999999;
}

.bolder{
  font-weight: bolder;
}

.underline {
  text-decoration: underline;
}

.flexbox-container {
  margin: 0px 10px;
  padding: 10px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .flexbox-item{
    color: black;
    display: flex;
    padding: auto;
  }

  .title{
    text-align: top;
  }

  .home{
    justify-content: space-between;
    margin-left: 1%;
  }

  .session{
    margin-right: 1%;
    justify-content: space-between;
  }

  .objects{
    margin-right: 50px;
  }

  hr{
    color: black;
    border: none;
    border-left: solid 1px;
    height: 25px;
    margin: auto;
    margin-left: .2rem;
    margin-right: .2rem;
  }
}

a {
  color: inherit;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding:5px;
}

a:hover{
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
}

h1 {
  margin: 0;
}

.hidden {
  display: none;
}

.separate{
  display: flex;
  margin: 2px;
}

.navbar-images{
  max-height: 30px;
  padding-right: .3rem;
}

.negotiation-images{
  max-height: 100px;
  height: auto;
}

.item{
  margin: auto;
}

.float-r{
  float: right;
}

.float-l{
  float: left;
}

.form{
  border-radius: 15px;
  padding: 10px;
  background-color: lightgray;
}

.center{
  text-align: center;
  vertical-align: center;
}

.span{
  display: block;
  text-overflow: ellipsis;
  width: 50px;
  overflow: hidden;
}

.border{
  border: solid 1px;
  border-radius: 5px;
}

input{
  border-radius: 5px;
}

.fixed-width-form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.fixed-width-negotiation{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fixed-width-xlg{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.fixed-width-lg{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.fixed-width{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

td{
  padding: .2rem;
}

#chat{
  float: left;
  margin-top: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  border: solid 1px gray;
  padding: 10px;
  padding-top: 0;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  min-height: 30px;
  height: 600px;
  width: 300px;
}

.chat-title{
  font-size: 18px;
  font-weight: bold;
  display: block;
  top: 0;
  position: sticky;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 1px solid black;
  background-color: inherit;
  text-align: center;
}

#messages {
  height: 3000px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

#send-message{
  display: flex;
  justify-content: space-between;
  width: inherit;
}

#m {
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
}

table{
  height: inherit;
}

textarea{
  overflow-y: hidden;
  resize: none;
}

#send-btn {
  width: 20%;
}

.wrapper-textarea {
  width: 79%;
}

textarea{
  height: 30px;
  vertical-align: bottom;
}

li{
  list-style: none;
}

#search{
  width: 70%;
  max-width: 1000px;
}

#review{
  padding: 10px;
  padding-top: 0;
}

.wrapper-me {
  text-align: right;
}
.me {
  word-wrap: break-word;
  display: inline-block;
  background-color: lightgreen;
  border-radius: 5px;
  max-width: 75%;
  margin-bottom: 5px;
  padding: 4px;
  text-align: left;
}

.other {
  word-wrap: break-word;
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
  max-width: 75%;
  margin-bottom: 5px;
  padding: 4px;
}

.time{
  font-size: 10px;
  text-align: right;
  display: block;
}

.time-other{
  font-size: 10px;
  float: left;
}

#object-list, #messages{
  width: 100%;
}

#object-list {
  text-align: center;
}

.cursiva{
  font-style: oblique;
}

.flex-container {
    margin: 20px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .objects{
        margin-right: 50px;
    }
  }

.notifications {
  cursor: pointer;
  display:inline-block;
  min-width:50px;
  vertical-align:top;
  margin:0px;
  text-align:center;
  padding:5px;
  margin: auto;
}

.notifications:hover{
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}

[data-badge] {
  position:relative;
  &:after {
    display: none;
    position:absolute;
    right:-14px;
    top:-14px;
    min-width:14px;
    min-height:14px;
    line-height:14px;
    padding:5px;
    color:#fff;
    background-color:#bf1f1f;
    font-size:14px;
    font-weight: bold;
    border-radius:20px;
    content:attr(data-badge);
    border:solid 1px #c93a3a;
  }
}

.notifications.new[data-badge]:after {
  display: block;
}

.notifications-container {
  display: none;
  background-color: white;
  max-height: 300px;
  width: 200px;
  margin-top: 42px;
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  overflow-y: scroll;
}

.notification {
  cursor: pointer;
  padding: 7px;
  color: white;
  font-size: 14px;
  border-bottom: 2px solid gray;
  background-color: #CD5C5C;
  opacity: 0.8;
}

.seeNotification {
  visibility: hidden;
}

.notification:hover{
  opacity: 1;
}

.notification time {
  display: block;
  position: relative;
  padding-top: 3px;
  min-height: 11px;
  line-height: 11px;
  color: inherit;
  font-style: italic;
  font-size: 11px;
  text-align: right;
}

.seen {
  opacity: 0.6;
  color: black;
  background-color: white;
}

.see-all-notifications {
  padding: 5px;
  display: block;
  position: sticky;
  bottom: 0;
  color: white;
  background-color: #A52A2A;
  opacity: 0.9;
}

a.see-all-notifications:hover {
  opacity: 1;
  background-color: #A52A2A;
  border-radius: 0px;
}

.all-notifications {
  margin-left: auto;
  margin-right: auto;
}

.all-notifications .notification {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.inline-info {
  display: inline-block;
  width: 60%;
  word-wrap: break-word;
  margin-left: 20px;
  margin-right: 20px;
}

.inline-date {
  display: inline-block;
  font-style: italic;
  text-align: center;
  word-wrap: break-word;
}

.delete {
  flex-shrink: 0;
  border: none;
  text-decoration: none;
  outline:none;
  position: relative;
  display: inline-flex;
  visibility: hidden;
  background-color: #bf1f1f;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  border-radius: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.notification:hover .delete {
  visibility: visible;
}

.logout {
  margin-left: 14px;
}

.dropdown {
  padding: 10px;
  background-color: grey;
  position: absolute;
  top: 44px;
  display: block;
  border-radius: 15px;
  z-index: 1;
}
