:root {
    --color-1: #FFFFFF;
    --color-2: rgb(235, 235, 235);
    --color-3: #EBEBEB;
    --color-4: ;

}

#register_form {
  margin-top: 50px;
}

.title-register {
  padding: 20px;
}

.input-register {
  font-size: .85rem;
  color: black;
  padding: 10px;
  width: 65%;
}

.neg_layout{
    display: flex;
    margin: 1%;
}

.text-style {
    font-weight: bold;
}

.negotiation-images{
    width: 90px;
    height: 90px;
    border-radius: 7px;
    object-fit: cover;
  }

.fixed-width-negotiation {
    max-width: 300px;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.full-width h3 {
    margin: 0;
    margin-left: 15px;
    margin-bottom: 5px;
}

.full-width {
    width: 100%;
    margin-left: 10px;
}

.form h3 {
    margin: 0;
}

.neg_obj_list{
    background-color: var(--color-1);
    width: 100%;
    margin: 1%;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.negotiation_layout {
    padding: 10px;
    padding-top: 0;
    background-color: var(--color-2);
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.submit-container {
    display: flex;
    width: 600px;
}

#negotiation {
    display: flex;
}

td{
    width: 100%;
}

tr{
    width: 100%;
}

.dot-display {
    display: block;
}

.negotiation-alternative {
    margin: 5%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-2);
    border-radius: 10px;
    width: 100%;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 750px;
}

.negotiation {
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 2px solid gray;
    background-color: var(--color-1);
    color: black;
  }

.negotiation:hover {
    opacity: 0.6;
}

.actual {
    opacity: 0.6;
}

.top {
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    height: inherit;
    width: inherit;
    background-color: var(--color-1);
    opacity: 0;
}

.top:hover {
    opacity: 0.2;
}

.trading-object-row .top {
    width: 100px;
}

.traductor {
    margin-top: 10px;
}

.bottom {
    padding: 5px;
    z-index: -1;
    height: inherit;
    width: inherit;
    display: flex;
}

.row {
    padding: 0;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 7px;
    width: 280px;
    height: 30px;
}

.negotiation-object-title {
    margin-left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.margin-title {
    margin-right: 10px;
    font-weight: bold;
}

.negotiation-object-name {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.negotiation-object-category {
    margin-right: 5px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.negotiation-object-display {
    display: flex;
    padding: 5px;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: var(--color-1);
}

.trading-object-row {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    border-radius: 7px;
    width: auto;
    height: 100px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: #ffd500;
}

.green {
    background-color: green;
}
