.neg_layout{
    display: flex;
    margin: 1%;
}

#negotiations-list{
    margin-left: 100px;
}

.neg_obj_list{
    width: 100%;
    margin: 1%;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#negotiation_objects{
    max-width: 70%;
}

td{
    width: 100%;
}

tr{
    width: 100%;
}

.samePassword {
    background-color: greenyellow;
}

.diffPassword {
    background-color: #EE3D3D;
}