html, body {
  margin: 0;
  padding: 0;
}

.flexbox-container {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .flexbox-item{
    color: white;
    display: flex;

  }

  .title{
    text-align: center;
  }

  .home{
    justify-content: space-between;
    margin-left: 1%;

  }

  .session{
    margin-right: 1%;
    justify-content: space-between;
  }
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

body {
  background-color: gray;
}

h1 {
  margin: 0;
}

.hidden {
  display: none;
}

.separate{
  display: flex;
  margin: 2px;
}

img {
    max-width:20%;
    max-width:20%;
    height:auto;
}
